$primary-body-background-color: #000000;
$primary-footer-background-color: #e57373;
$primary-color-dark: #5D4037;
$primary-color: #795548;
$primary-color-light: #D7CCC8;
$primary-color-text: #FFFFFF;
$accent-color: #8BC34A;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$footer-height: 50px;

//$primary-body-background-color: #374046;
